<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89475562539-oodpl3uv6pf22bg90vf19vpe7h83eqnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89475562539-oodpl3uv6pf22bg90vf19vpe7h83eqnc</string>
	<key>API_KEY</key>
	<string>AIzaSyA4S2bOqTt3MGRWkNR6nYeuR3kJ3P5UmEA</string>
	<key>GCM_SENDER_ID</key>
	<string>89475562539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schedulex.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>schedulex-2f7cf</string>
	<key>STORAGE_BUCKET</key>
	<string>schedulex-2f7cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89475562539:ios:47484584fc76df6a233e6e</string>
</dict>
</plist>